:root {
    --divider-color: #c7c8d4;
    --ff-headings: 'Syne Tactile', cursive;
    --ff-para: 'Roboto Mono', monospace;
    --color-bg: #e2ebf1;
    --color-button: #C0D3E0;
    --color-link-unvisited: #747f86;
    --color-link-visited: #4a5054;
    --color-bg-link-focused: #363636;
    --opacity-500ms: opacity .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
    --left-500ms: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

/* Visually hide an element */
.hidden {
    opacity: 0 !important;
}
  
/* Hide an element plus effectively remove it from the page */
.removed {
    display: none !important;
}

.fadeable {
    transition: var(--opacity-500ms);
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-headings);
    margin: 0;
}

p, a {
    font-family: var(--ff-para);
}

p {
    text-align: justify;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
    color: var(--color-link-unvisited);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    padding: 0;
    border-bottom: 1px solid;
    background: var(--color-bg-link-focused);
}

.overlay {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 9999;
    height: 4rem;
    margin-top: 5px;
}

.overlay-spacing {
    width:100%;
    height:4rem;
    margin-top:5px;
}

.container {
    padding: 0 6rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/* 
 *  SIDEBAR 
*/
/* the fixed-position sidebar container itself */
.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}

.sidebar-content {
    background-color: var(--color-bg);
    padding: 0 10px;
    height: inherit;
    min-width: max-content;
    overflow: scroll;
}

.sidebar-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    top: 0;
    opacity: 50%;
    transition: var(--opacity-500ms); 
}

#sidebar-control {    
    position: absolute;
    top: 25%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 10px 0 0;
    right: 6rem;
    background-color: var(--color-bg);
    border: 0;
}

.tray {
    position: fixed;
    transition: var(--left-500ms);
    left: 0;
}

.tray-hidden {
    min-width: 0;
    left: -100%;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
}

nav {
    display: flex;
    flex-direction: column;
}

#works {
    display: flex;
}

nav h1 {
    font-size: 4.5em;
    margin: 10px 0;
}

nav a {
    font-family: var(--ff-headings);
}

#works h1 {
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    line-height: 0.75;
    padding-left: 10px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-left: 10px;
}

li {
    font-size: 1.5em;
}

#bio-short {
	padding-left: 10px;
	padding-right: 10px;
}

.gallery-row {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.gallery-element {
    margin: 10px auto;
}

.gallery-element img {
    display: block;
    margin: 0 auto;
    min-width: 100%;
}

.description p {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 24px;
}

body {
    transition: opacity 1000ms;
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    width: 100%;
    text-align: center;
}

footer p, footer a {
    text-align: center;
    font-family: var(--ff-headings);
}

nav h2 {
    margin: 10px 0;
    font-size: 2.5rem;
}

hr {
    border-style: groove;
    width: 80%;
    border-color: #e0eafe;
}


@media screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    #sidebar-control {    
        right: 1rem;
        margin: 0;
    }

    nav {
        font-size: 0.8em;
    }
}