:root {
    --divider-color: #c7c8d4;
    --ff-headings: 'Syne Tactile', cursive;
    --ff-para: 'Roboto Mono', monospace;
    --color-bg: #e2ebf1;
}

/* Visually hide an element */
.hidden {
    opacity: 0;
}
  
/* Hide an element plus effectively remove it from the page */
.removed {
    display: none !important;
}

.fadeable {
    transition: opacity 1000ms;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-headings);
    margin: 0;
}

p, a {
    font-family: var(--ff-para);
}

p {
    text-align: justify;
}

.overlay {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 9999;
    height: 4em;
    margin-top: 5px;
}

.overlay-spacing {
    width:100%;
    height:4em;
    margin-top:5px;
}

.container {
    /* display: flex; */
    padding: 0 6em;
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0 1em;
    }
}
.sidebar {
	/* position: fixed;
	top: 0;
	left: 0;
	max-width: 15%;
	height: 100%; */
    flex: 1 1 0;
}

.sidebar header {
    margin: 10px 0 10px 0;
    text-align: center;
}

.menu {
    padding: 0px 10px;
}

ul {
    margin: 0;
    list-style-type: '\25AA';
    padding: 0 0 0 10px;
}

ul p, ul a {
    font-family: var(--ff-headings);
}

li {
    padding-left: 10px;
}

#bio-short {
	/* width: 50%; */
	padding-left: 10px;
	padding-right: 10px;
}

#gallery {
	/* display: flex; */
	/* flex-direction: column; */
	/* margin-left: 25%;
	width: 75%; */
    /* flex: 3 1 0; */
}

.gallery-section {
    /* position:absolute; */
}

.gallery-row {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.gallery-element {
    /* padding: 10px;
    margin: 10px; */
    /* flex: 3 1 0; */
    margin-left: auto;
    margin-right: auto;
}

.gallery-element img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 20px auto;
}

/* There aren't any actual style elements for this yet, its used just as a section ref */
/* .gallery-section {

} */

.gallery-section header {
    /* padding: 0 0 0 10px; */
}

body {
/* temporarily disabled while in dev */
    /* transition: opacity 3000ms; */
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    position: fixed;
    background-color: #ffffff;
    bottom: 0;
    left: 10px;
    width: 25%;
}

footer p {
    font-size: small;
    text-align: center;
}